div.colFlex 
    div.contain
      img(class="mapImgs", style="width:65px;height:auto;" src="/mapImages/whitespace.png")

div.colFlex 
    div.contain
      div#divimg4
      img#27.moveLeft4(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:50px;height:auto;" src="/mapImages/sAm/sAm1_white.png")
    div.contain.moveLeft5
      div#divimg5
      img#28(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:140px;" src="/mapImages/sAm/sAm3_white.png")
     

div.colFlex            
    div.contain
      div#divimg5
        img#29(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:150px;height:110px;" src="/mapImages/sAm/sAm2_white.png")
    div.contain
      div#divimg5
      img#30.moveLeft3(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:100px;height:150px;" src="/mapImages/sAm/sAm4_white.png")

div.colFlex  
    div.contain
    img#31(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:140px;height:75px;" src="/mapImages/africa/af3_white.png")
  
    div.contain
    img#32.moveLeft7(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:40px;height:150px;" src="/mapImages/africa/af4_white.png")

div.colFlex  
    div.contain
    img#33(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:130px;height:70px;" src="/mapImages/africa/af5_white.png")
  
    div.contain
    img#34(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:100px;height:160px;" src="/mapImages/africa/af6_white.png")

div.colFlex 
    div.contain
      img(class="mapImgs", style="width:50px;height:auto;" src="/mapImages/whitespace.png")


div.colFlex  
    div.contain
    img#35(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:100px;height:auto;" src="/mapImages/aus/aus1_white.png")
      
    div.contain
    img#36(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:100px;height:auto;" src="/mapImages/aus/aus2_white.png")

div.colFlex  
    div.contain
    img#37(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:50px;height:auto;" src="/mapImages/aus/aus3_white.png")
      
    div.contain
    img#38(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:55px;height:auto;" src="/mapImages/aus/aus4_white.png")
