div.colFlex 
    div.contain
      div#div1.shiftRight
      img#1(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:110%;height:auto;" src="/map/northAm/north1_white.png")
    div.contain
      div#div2.shiftRight
      img#2(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:110%;height:auto;" src="/map/northAm/north2_white.png")
div.colFlex 
    div.contain
      div#div3.shiftDown
      img#3(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:105%;height:auto;" src="/map/northAm/north3_white.png")
    div.contain
      div#div4.shiftUp
      img#4(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:100%;height:auto;" src="/map/northAm/north4_white.png")
  
div.colFlex 
    div.contain
      div#div5.centerMiddle
      img#5(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/northAm/north5_white.png")
    div.contain
      div#div6.shiftUp
      img#6(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/northAm/north6_white.png")
    div.contain
      div#div7.centerMiddle
      img#7(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:102%;height:auto;" src="/map/southAm/south3_white.png")
    div.contain
      div#div8.shiftRight
      img#8(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:102%;height:auto;" src="/map/southAm/south5_white.png")

div.colFlex 
    div.contain
      div#div9.centerMiddle
      img#9(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/northAm/north7_white.png")
    div.contain
      div#div10.shiftLeft
      img#10(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:105%;height:auto;" src="/map/northAm/north8_white.png")
    div.contain
      div#div11.shiftRight
      img#11(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:100%;height:auto;" src="/map/europe/eur1_white.png")
    div.contain
      div#div12.centerMiddle
      img#12(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/africa/af1_white.png")
    div.contain
      div#div13.centerMiddle
      img#13(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/southAm/south1_white.png")
    div.contain
      div#div14.shiftUp
      img#14(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)", style="width:105%;height:auto;" src="/map/southAm/south2_white.png")

div.colFlex 
    div.contain
      div#div15.shiftDown
      img#15(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/europe/eur2_white.png")
    div.contain
      div#div16.centerMiddle
      img#16(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/europe/eur3_white.png")
    div.contain
      div#div17.centerMiddle
      img#17(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/africa/af2_white.png")
    div.contain
      div#div18.centerMiddle
      img#18(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/africa/af3_white.png")
    div.contain
      div#div19.shiftUp
      img#19(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/africa/af4_white.png")
      
div.colFlex 
    div.contain
      div#div20.shiftDown
      img#20(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/europe/eur4_white.png")
    div.contain
      div#div21.centerMiddle
      img#21(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/europe/eur5_white.png")
    div.contain
      div#div22.centerMiddle
      img#22(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/europe/eur6_white.png")
    div.contain
      div#div23.shiftLeft
      img#23(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/africa/af5_white.png")
          

div.colFlex 
    div.contain
      div#div24.shiftDown
      img#24(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/europe/eur7_white.png")
    div.contain
      div#div25.centerMiddle
      img#25(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/europe/eur8_white.png")
    div.contain
      div#div26.shiftUp
      img#26(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/asia/asia1_white.png")
    div.contain
      div#div27.custom1
      img#27(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac1_white.png")
    div.contain
      div#div28.centerMiddle
      img#28(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac2_white.png")
    
div.colFlex 
    div.contain
      div#div29.shiftDown
      img#29(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia2_white.png")
    div.contain
      div#div30.centerMiddle
      img#30(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia3_white.png")
    div.contain
      div#div31.shiftUp
      img#31(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia4_white.png")
    div.contain
      div#div32.shiftLeft
      img#32(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac3_white.png")
    div.contain
      div#div33.shiftLeft
      img#33(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac4_white.png")
      
div.colFlex 
    div.contain
      div#div34.shiftDown
      img#34(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia5_white.png")
    div.contain
      div#div35.shiftLeft
      img#35(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia6_white.png")
    div.contain
      div#div36.custom2
      img#36(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:102%;height:auto;" src="/map/asia/asia7_white.png")
    div.contain
      div#div37.shiftLeft
      img#37(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:100%;height:auto;" src="/map/asia/asia8_white.png")
    div.contain
      div#div38.shiftLeft
      img#38(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, #{game_id}, src)",  style="width:55px;height:auto;" src="/map/pacific/pac5_white.png")
