div.colFlex 
    div.contain
      div#div1.centNo
      img#1(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:110%;height:auto;" src="/map/northAm/north1_white.png")
    div.contain
      div#div2.centNo
      img#2(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:110%;height:auto;" src="/map/northAm/north2_white.png")
div.colFlex 
    div.contain
      div#div3.centNo
      img#3(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:105%;height:auto;" src="/map/northAm/north3_white.png")
    div.contain
      div#div4.centNo
      img#4(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:100%;height:auto;" src="/map/northAm/north4_white.png")
  
div.colFlex 
    div.contain
      div#div5.centNo
      img#5(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/northAm/north5_white.png")
    div.contain
      div#div6.centNo
      img#6(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/northAm/north6_white.png")
    div.contain
      div#div7.centNo
      img#7(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:102%;height:auto;" src="/map/southAm/south3_white.png")
    div.contain
      div#div8.centNo
      img#8(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:102%;height:auto;" src="/map/southAm/south5_white.png")

div.colFlex 
    div.contain
      div#div9.centNo
      img#9(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/northAm/north7_white.png")
    div.contain
      div#div10.centNo
      img#10(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:105%;height:auto;" src="/map/northAm/north8_white.png")
    div.contain
      div#div11.centNo
      img#11(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:100%;height:auto;" src="/map/europe/eur1_white.png")
    div.contain
      div#div12.centNo
      img#12(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/africa/af1_white.png")
    div.contain
      div#div13.centNo
      img#13(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/southAm/south1_white.png")
    div.contain
      div#div14.centNo
      img#14(class="mapImgs",  onclick="updateTerritory(id, #{playerId}, #{armies}, src)", style="width:105%;height:auto;" src="/map/southAm/south2_white.png")

div.colFlex 
    div.contain
      div#div15.centNo
      img#15(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/europe/eur2_white.png")
    div.contain
      div#div16.centNo
      img#16(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/europe/eur3_white.png")
    div.contain
      div#div17.centNo
      img#17(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/africa/af2_white.png")
    div.contain
      div#div18.centNo
      img#18(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/africa/af3_white.png")
    div.contain
      div#div19.centNo
      img#19(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/africa/af4_white.png")
      
div.colFlex 
    div.contain
      div#div20.centNo
      img#20(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/europe/eur4_white.png")
    div.contain
      div#div21.centNo
      img#21(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/europe/eur5_white.png")
    div.contain
      div#div22.centNo
      img#22(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/europe/eur6_white.png")
    div.contain
      div#div23.centNo
      img#23(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/africa/af5_white.png")
          

div.colFlex 
    div.contain
      div#div24.centNo
      img#24(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/europe/eur7_white.png")
    div.contain
      div#div25.centNo
      img#25(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/europe/eur8_white.png")
    div.contain
      div#div26.centNo
      img#26(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/asia/asia1_white.png")
    div.contain
      div#div27.centNo
      img#27(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac1_white.png")
    div.contain
      div#div28.centNo
      img#28(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac2_white.png")
    
div.colFlex 
    div.contain
      div#div29.centNo
      img#29(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia2_white.png")
    div.contain
      div#div30.centNo
      img#30(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia3_white.png")
    div.contain
      div#div31.centNo
      img#31(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia4_white.png")
    div.contain
      div#div32.centNo
      img#32(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac3_white.png")
    div.contain
      div#div33.centNo
      img#33(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/pacific/pac4_white.png")
      
div.colFlex 
    div.contain
      div#div34.centNo
      img#34(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia5_white.png")
    div.contain
      div#div35.centNo
      img#35(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia6_white.png")
    div.contain
      div#div36.centNo
      img#36(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:102%;height:auto;" src="/map/asia/asia7_white.png")
    div.contain
      div#div37.centNo
      img#37(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:100%;height:auto;" src="/map/asia/asia8_white.png")
    div.contain
      div#div38.centNo
      img#38(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src)",  style="width:55px;height:auto;" src="/map/pacific/pac5_white.png")
