div.colFlex
    div.contain
      img(class="mapImgs", style="width:2px;height:auto;" src="/mapImages/whitespace.png")
    div.contain
      img(class="mapImgs", style="width:10px;height:auto;" src="/mapImages/whitespace.png")

div.colFlex
  div.contain
  img#1(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", src="/mapImages/northAm/northAm3_white.png", style="width:140px;height:auto;")        

  div.contain
  img#2.moveLeft1(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", src="/mapImages/northAm/northAm4_white.png", style="width:125px;height:60px;")        

  div.contain
  img#3(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", src="/mapImages/northAm/northAm2_white.png", style="width:140px;height:115px;")        

div.colFlex
  div.contain
    img(class="mapImgs", style="width:auto;height:60px;" src="/mapImages/whitespace.png")

  div.contain
  img#4(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", src="/mapImages/northAm/northAm5_white.png", style="width:75px;height:auto;")        

  div.contain
  img#5(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", src="/mapImages/northAm/northAm1_white.png", style="width:65px;height:145px;")        

div.colFlex
  div.contain
    div#divimg3.centGreenland
    img#6(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies}, src )", style="width:75px;height:auto;" src="/mapImages/greenland/greenland_white.png")
  div.contain
    img(class="mapImgs", style="width:80px;height:100px;" src="/mapImages/whitespace.png")

div.colFlex
  div.contain
    img(class="mapImgs", style="width:2px;height:35px;" src="/mapImages/whitespace.png")
  div.contain
    img#7.moveLeft4(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:55px;height:80px;" src="/mapImages/europe/eur4_white.png")        

  div.contain
    img#8.moveLeft5(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:60px;height:80px;" src="/mapImages/europe/eur1_white.png")

  div.contain
    img#9(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:110px;height:85px;" src="/mapImages/africa/af1_white.png")

    
div.colFlex     
    div.contain
      img(class="mapImgs", style="width:2px;height:60px;" src="/mapImages/whitespace.png") 
    div.contain
      img#10(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:85px;height:70px;" src="/mapImages/europe/eur3_white.png")
    div.contain
      img#11(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:85px;height:50px;" src="/mapImages/europe/eur2_white.png")
    div.contain
      img(class="mapImgs", style="width:1px;height:35px;" src="/mapImages/whitespace.png")
    div.contain
      img#12(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:85px;height:60px;" src="/mapImages/africa/af2_white.png")

  
  
div.colFlex
    div.contain
      img(class="mapImgs", style="width:1px;height:35px;" src="/mapImages/whitespace.png")
    div.contain
      img#13(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:60px;height:140px;" src="/mapImages/europe/eur5_white.png")
    div.contain
      img(class="mapImgs", style="width:1px;height:25px;" src="/mapImages/whitespace.png")
      
    div.contain
      img#14(class="mapImgs",onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:60px;height:80px;" src="/mapImages/med/med3_white.png")
  
div.colFlex
    div.contain
      img(class="mapImgs", style="width:auto;height:14px;" src="/mapImages/whitespace.png")
    div.contain
      img#15(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:65px;height:153px;" src="/mapImages/europe/eur77_white.png")      
    div.contain
      img#17(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:65px;height:105px;" src="/mapImages/med/med5_white.png")
        
    
    
div.colFlex
  div.contain
    img#18(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:130px;" src="/mapImages/europe/eur8_white.png")
  div.contain
    img#19(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:80px;" src="/mapImages/europe/eur9_white.png")
  div.contain
    img#20(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:78px;height:70px;" src="/mapImages/asia/asia5_white.png")


div.colFlex              
  div.contain
    img#21(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:50px;" src="/mapImages/europe/eur10_white.png")
  div.contain
    img#22(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:50px;" src="/mapImages/asia/asia1_white.png")
  div.contain
    img#23(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:90px;" src="/mapImages/asia/asia3_white.png")
  div.contain
    img#24(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:78px;height:90px;" src="/mapImages/asia/asia4_white.png")

div.colFlex
  div.contain
    img#25(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:80px;height:90px;" src="/mapImages/europe/eur11_white.png")
      
  div.contain
    img#26(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:70px;height:90px;" src="/mapImages/asia/asia2_white.png")
  div.contain
    img(class="mapImgs", style="width:1px;height:55px;" src="/mapImages/whitespace.png")
    
  div.contain
    img#16(class="mapImgs", onclick="updateTerritory(id, #{playerId}, #{armies} )", style="width:35px;height:35px;" src="/mapImages/asia/asia6_white.png")
