script(type='text/javascript' src='/javascripts/mapFunctions.js')
script(src='/socket.io/socket.io.js')

- var playerId = 2;
- var armies = 60;


  
doctype html
html
    head
        title RiskAttack 2.0 Homepage         
        link(href='/css/map.css', type="text/css", rel='stylesheet')

    body
        include ./navbar.jade
        h1.h11 Game Room #{game_id}
        //- h2#player.h11 Player #{playerId}
        p#playername.hacky Player #{playerId}
    
  dif.mainContainer
    div.parentflexContainer
      include ./map/map.jade
    div.sideContainer
      include ./chatBox.jade


      
    //- div.parentflex
    //-   include ./map/tophalf.jade
    //- div.parentflex
    //-   include ./map/botthomhalf.jade

script.
  console.log("test: ", #{game_id})
  reloadGameState(#{game_id}); 
